---
env:
  browser: true
  es2020: true
extends: eslint:recommended
parserOptions:
  sourceType: module
  ecmaVersion: 8
rules:
  no-inner-declarations: 0
  no-unused-vars:
  - error
  - args: after-used
  no-console: 0
  no-constant-condition: 0
  indent:
  - error
  - tab
  max-len:
  - off
  - tabWidth: 4
  linebreak-style:
  - error
  - unix
globals:
  startups: true
  fontSize: true
  graphSize: true
  slitWidth: true
  slitSeparation: true
  Controller: true
  getCheckbox: true
  getParameter: true
